{{>message}}
<div class="container">
  <h4>請修改你的支出</h4>

  <form action="/tracks/{{track.id}}?_method=PUT" method="post">
    <label style="display: flex;">名稱</label>
    <input type="text" name="name" id="name" value="{{track.name}}">
    
    <label style="display: flex;">日期</label>
    <input type="date" name="date" id="date" value="{{track.date}}">
    
    <label style="display: flex;">類別</label>
    <select name="category" id="category">
      <option>{{track.categoryName}}</option>
      <option>類別</option>
      <option>家居物業</option>
      <option>交通出行</option>
      <option>休閒娛樂</option>
      <option>餐飲食品</option>
      <option>其他</option>
    </select>
    
    <label style="display: flex;">金額</label>
    <input type="number" name="amount" id="amount" value="{{track.amount}}">
    
    <button style="display: flex;" type="submit">送出</button>
  </form>
  <form action="/tracks" method="get">
    <button style="display: flex;" type="submit">返回</button>
  </form>
</div>