{{>message}}

<div class="container">
  <form action="/tracks" method="post" >
    <div>
      <select name="category" id="category">
        <option>類別</option>
        <option>家居物業</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>餐飲食品</option>
        <option>其他</option>
        <option>全部類別</option>
      </select>
    </div>
    <button type="submit">(依類別篩選)</button>
  </form>

  <div >
    <h6 style="display: inline;">總金額</h6>    
    <h3 style="display: inline;">{{ totalAmount }}元</h3>
  </div>

  <div >
    <ul>
      {{#each tracks}} 
        <li class="d-flex justify-content-around">
          {{!-- 在hbs中：3個大括號 表示解析網頁，2個大括號 表示單純引入參數 --}}
          <div>
            {{{this.categoryIcon}}}
            {{this.name}}
          </div>

          <div class="">
            {{this.date}}
            <p style="display: inline;">{{this.amount}} 元</p>
          </div>

          <div>
            <a href="/tracks/edit/{{this.id}}">修改</a>
            <form action="/tracks/{{this.id}}?_method=DELETE" method="post" style="display: inline;">
              <button type="submit">刪除</button>
            </form>
          </div>

        </li>
      {{/each}}
    </ul>
  </div>

  <form action="/tracks/new">
    <button type="submit">新增支出</button>
  </form>

</div>