{{#if message}}
<div>
  <h6>{{message}}</h6>
</div>
{{/if}}

<div class="container">
  <div>
    <select name="category" id="category">
      <option>類別</option>
      <option>家居物業</option>
      <option>交通出行</option>
      <option>休閒娛樂</option>
      <option>餐飲食品</option>
      <option>其他</option>
    </select>
  </div>

  <div>
    <h6>總金額</h6>    
    <h3>{{ totalAmount }}</h3>
  </div>

  <div>
    <ul>
      {{#each tracks}} 
        <li>
          {{this.category}}: 
          {{this.name}}: 
          {{this.amount}}:
          {{this.date}}:
          <a href="/tracks/edit/{{this.id}}">修改</a>

          <form action="/tracks/{{this.id}}?_method=DELETE" method="post" style="display: inline;">
            <button type="submit">刪除</button>
          </form>

        </li>
      {{/each}}
    </ul>
  </div>

  <form action="/tracks/new">
    <button type="submit">新增支出</button>
  </form>

</div>